<% if @user.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being created:</h4>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1>Sign up</h1>
<br>
<%= form_for @user do |f| %>
  <h4>Name: </h4><br>
  <%= f.text_field :name %><br>
  <h4>Email: </h4><br>
  <%= f.text_field :email %><br>


  <h4>Password:</h4><br>
  <%= f.password_field :password %><br>
  <h4>Password Confirmation:</h4><br>
  <%= f.password_field :password_confirmation %><br>

  <h4>Check box if you wish to be admin:<h4>
  <%= f.check_box :admin %>
  <br>

  <br>
  <%= f.submit "Create User" %>
<% end %>
