<% if @user.admin %>
  <h2>ADMIN</h2>
<% end %>
<h2>Welcome <%= @user.name %>!</h2><br>

<% if @user.playlists.empty? %>
  <h4><%= link_to "Create New Playlist", new_playlist_path %></h4>
<% else %>
  <h4><%= link_to "Your Song Library", songs_path %></h4><br>

  <h4>Your Playlists:</h4><br>
  <ol>
    <% @user.playlists.each do |playlist| %>
    <li><%= link_to playlist.title, playlist_path(playlist) %></li><br>
    <% end %>
  </ol>
  <h4><%= link_to "Create New Playlist", new_playlist_path %></h4>
<% end %>
<br>

<h4><%= link_to "Song Search", songs_path %></h4><br>
<h4><%= link_to "View Public Playlists", playlists_path %></h4><br>
