<% if @message %>
  <div class="center alert">
    <p><%= @message %></p>
  </div>
<% end %>

<% if is_admin? %>
<h4>ADMIN</h4>
<% end %>

<h2>Welcome <%= @user.name %>!</h2><br>

<% if is_admin? %>
  <%= render 'songs/form' %>
<% end %>

<% if @user.playlists.empty? %>
  <h4><%= link_to "Create New Playlist", new_playlist_path %></h4>
<% else %>

  <% if !is_admin? %>
    <h4><%= link_to "Your Song Library", songs_path %></h4><br>
  <% end %>

  <h4>Your Playlists:</h4><br>
  <ol>
    <% @user.playlists.each do |playlist| %>
    <li><%= link_to playlist.title, playlist_path(playlist) %></li><br>
    <% end %>
  </ol>
  <h4><%= link_to "Create New Playlist", new_playlist_path %></h4>
<% end %>
<br>

<h4><%= link_to "View Songs", songs_path %></h4><br>

<% if is_admin? %>
  <h4><%= link_to "View Playlists", playlists_path %></h4><br>
  <% else %>
  <h4><%= link_to "View Public Playlists", playlists_path %></h4><br>
<% end %>
