<h4>Upload Song</h4>
<%= form_for @song do |f| %>
  <h5>Name: </h5>
  <%= f.text_field :name %>
  <h5>Artist: </h5>
  <%= f.text_field :artist %>
  <h5>Genre: </h5>
  <%= f.text_field :genre %>

  <%= f.submit "Upload" %>
<% end %>
