<h2><%= @song.name %> </h2><br>

<h4>Artist: <%= @song.artist %></h4><br>
<h4>Genre: <%= @song.genre %></h4><br>

<%= link_to "Playlists", attractions_path %><br>
<%= link_to "Log Out", logout_path %>
