<%= form_for @playlist do |f| %>
  <%= f.hidden_field :title %><br>
  <%= f.hidden_field :description %><br>
  <%= f.hidden_field :private %>
  <label for="playlist_song">Delete: </label>
  <input list="songs" name="playlist[delete_song]" />
  <datalist id="songs">
    <% @playlist.songs.find_by do |song| %>
      <option value="<%= song.name %> --- <%= song.artist %>">
    <% end %>
  </datalist>

  <%= f.submit "-" %>
  <br>
  <br>
<% end %>
