<h2> <%= @playlist.title %> </h2><br>

<p>Description: <%= @playlist.description %></p>

<h5><%= link_to "Edit Playlist Details", edit_user_playlist_path(@user, @playlist) %></h5>

<%= render 'add_song' %>

<% if @playlist.songs.empty? %>
  <h4>Playlist is EMPTY</h4>
<% else %>
  <table style='width:50%'>
    <tr>
      <th>Song Name</th>
      <th>Artist</th>
      <th>Genre</th>
      <th>Delete Song</th>
    </tr>
    <% @playlist.songs.each do |song| %>
    <tr>
      <td><%= link_to song.name, song %></td>
      <td><%= song.artist %></td>
      <td><%= song.genre %></td>
      <td><%= "Delete" %></td>
    </tr>
    <% end %>
  </table>
<% end %>
<br>
