<h2> <%= @playlist.title %> </h2><br>

<p>Description: <%= @playlist.description %></p>

<h5><%= link_to "Edit Playlist Details", edit_playlist_path(@playlist) %></h5>

<% if @playlist.songs.empty? %>
  <h4>Playlist is EMPTY. Please <%= link_to "Add songs", edit_playlist_path(@playlist) %>.</h4>
<% else %>
  <%= render 'add_song' %>
  <table style='width:50%'>
    <tr>
      <th>Song Name</th>
      <th>Artist</th>
      <th>Genre</th>
    </tr>
    <% @playlist.songs.each do |song| %>
    <tr>
      <td><%= link_to song.name, song %></td>
      <td><%= song.artist %></td>
      <td><%= song.genre %></td>
    </tr>
    <% end %>
  </table>
<% end %>
<br>
