<h2> <%= @playlist.title %> </h2><br>

<p>Description: <%= @playlist.description %></p><br>

<% if @playlist.songs.empty? %>
  <h4>Playlist is EMPTY. Please <%= link_to "Add songs", edit_playlist_path(@playlist) %>.</h4>
<% else %>
  <h4> <%= link_to "Add Songs", edit_playlist_path(@playlist) %></h4>
  <table style='width:100%'>
    <tr>
      <th>Song Name</th>
      <th>Artist</th>
      <th>Genre</th>
    </tr>
    <% @playlist.songs.each do |song| %>
    <tr>
      <td><%= link_to song.name, song_path(song) %></td>
      <td><%= link_to song.artist %></td>
      <td><%= link_to song.genre %></td>
    </tr>
    <% end %>
  </table>
<% end %>
<br>

<%= link_to "Playlists", playlists_path %><br>
<%= link_to "Log Out", logout_path %>
